application_code
*.log
*.iml
dependency-reduced-pom.xml
scenarios/.idea
scenarios/*/.idea
scenarios/*/*.idea
scenarios/*/*/*/.idea
scenarios/*/target
scenarios/*/*/target
scenarios/*/*/*/target
scenarios/*/*/logs
scenarios/*/*/mybkup