application_code
*.log
*.iml
dependency-reduced-pom.xml
scenarios/.idea
scenarios/target
scenarios/target/*
scenarios/*/.idea
scenarios/*/*.idea
scenarios/*/*/*/.idea
scenarios/*/target
scenarios/*/*/target
scenarios/*/*/*/target
scenarios/*/*/logs
scenarios/*/*/mybkup
spring-scenarios/.idea
spring-scenarios/target
spring-scenarios/target/*
spring-scenarios/*/.idea
spring-scenarios/*/*.idea
spring-scenarios/*/target
spring-scenarios/*/*/target
spring-scenarios/*/*/logs
spring-scenarios/*/*/mybkup
spring-scenarios/*/scn-application.yml.tmpl
*dependency-reduced-pom.xml
*.log
*.yml
.java-version
.gitignore