application_code
scenarios/.idea
scenarios/*/.idea
scenarios/*/*.idea
scenarios/*/*/*/.idea
scenarios/*/*.iml
scenarios/*/*/*.iml
scenarios/*/*/*/*.iml
scenarios/*/target
scenarios/*/*/target
scenarios/*/*/*/target
scenarios/*/*/*/dependency-reduced-pom.xml
scenarios/*/*/*/*/dependency-reduced-pom.xml
scenarios/*/*/logs
scenarios/*/*/mybkup